<div class="page-heading">Bots</div>
<table cellspacing='0' cellpadding='3' border='0' width='90%'>
  <tr>
    <th>Name</th><th>Bonus</th><th>Action</th>
  </tr>
<%= render :partial => "bot", :collection => @bots %>
</table>

