<tr>
  <td><%= trigger.label ? trigger.label : trigger.name %></td>
  <td><%= trigger.highlight %></td>
  <td><%= trigger.bonus %></td>
  <td><%= link_to "Edit", :action => "edit", :id => trigger.id %>
</tr>