body {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	font-size: 0.9em;
}

p, li {
	font-size: 0.9em;
}

a, a:visited, a:hover, a:active {
	color: #900;
	text-decoration: none;
}

blockquote {
	margin-left: 20px;
	border-left: 1px #999 solid;
	background-color: #efefef;
	padding: 10px;
	font-size: 80%;
	font-family: AndaleMono, Monaco, 'Courier New', Courier;
}

input, textarea {
	border: 1px #d8d8d8 solid;
	font-size: 10pt;
	font-weight: normal;
	font-family: GillSans, Trebuchet, Calibri, sans-serif;
}

.small {
	font-size: 0.8em;
}


.page-heading {
	font-family: GillSans, Trebuchet, Calibri, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.5em;
	text-decoration: none;
}

.heading {
	font-family: GillSans, Trebuchet, Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.1em;
	color: #555;
	text-decoration: none;
}

#header, #content, #footer {
	text-align: left;	
}

#content {
	background-color: #fff;
	border: 1px #d8d8d8 solid;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding: 10px;
}

#server-list-header, #player-list-header {
	font-family: GillSans, Trebuchet, Calibri, sans-serif;
	font-weight: bold;
	color: #999;
	font-size: 1em;
}

