<div class="page-heading">Weapons</div>
<br/>
<div><%= will_paginate @weapons %></div>
<br clear="both" />

<table cellspacing='0' cellpadding='3' border='0' width='90%'>
  <tr>
    <th>Name</th><th>Highlighted</th><th>Bonus</th><th>Action</th>
  </tr>
<%= render :partial => "weapon", :collection => @weapons %>
</table>

